extends layout

block content
  h1= title
  p Welcome to #{title}
  h3 page-1 Introduction
  p     Health and wellness are the foundations of a balanced and fulfilling life. While health refers to the state of being free from illness and maintaining proper physical, mental, and social functioning, wellness goes a step further—it is the conscious, self-directed process of making choices that lead to a healthier and more meaningful existence.
  h3 page-2 : Content 
  p 1. What is Health?
  Health is a state of complete physical, mental, and social well-being, and not merely the absence of disease or illness. A healthy individual can perform daily activities with energy, strength, and confidence.
  p 2. What is Wellness?
  Wellness is an active process of making conscious choices toward a healthy and fulfilling life. It goes beyond physical health and includes mental, emotional, and social aspects, helping individuals live with balance and purpose.
  p ➤ Dimensions of Health and Wellness
  p ▪ Physical Wellness
  p ▪ Mental Wellness
  p ▪ Emotional Wellness
  h3 page-3 : 🌿 Health and Wellness Tips
  p ▪ Eat Balanced Meals
  p ▪ Stay Hydrated
  p ▪ Exercise Regularly
  p ▪ Get Enough Sleep
  p ▪ Manage Stress
  h3 page-4 : Contact
  p 7780******